section.jumbotron.jumbotron-fluid.text-center.-custom-intro
  .container
    h1.display-5 Todas as imagens
    p.lead(ng-if="vm.list.length !== 1") {{vm.list.length}} imagens encontradas
    p.lead(ng-if="vm.list.length === 1") 1 imagem encontrada
